{% extends 'basic.html' %}
{% load static %}
{% block content %}
 <div class="container">


                 <h1 class="page__title">
                     1 Курс
                 </h1>

                 <!-- Article -->

                 <article class="post">
                     <div class="post__header post__header--preview">
                         <a href="{% url 'post' %}">
                             <img class="post__preview" src="{% static 'images/post-2.jpg' %}" alt="Как писать код быстро и безболезненно?">
                         </a>
                     </div>
                     <div class="post__content">
                         <h2 class="post__title"><a href="{% url 'post' %}">Домашние задания 1 курс</a></h2>
                         <p class="post__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Elementum volutpat orci turpis urna.
                             Et vestibulum, posuere tortor lacinia sit.
                             Sagittis porttitor orci auctor in at tincidunt arcu egestas.
                             Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa.
                             Egestas ornare vel volutpat.
                         </p>
                     </div>

                     <div class="post__footer">
                         <ul class="post__data">
                             <li class="post__data-item">
                                 <time data="2020-06-21">21.06.2020</time>
                             </li>
                             <li class="post__data-item">
                                 <a href="#!">домашняя работа</a>
                             </li>
                         </ul>
                         <a class="post__read" href="#!">Читать</a>
                     </div>
                 </article><!-- //Post-1 -->


                 <article class="post">
                     <div class="post__header post__header--preview">
                         <a href="{% url 'post' %}">
                             <img class="post__preview" src="{% static 'images/post-2.jpg' %}" alt="Как писать код быстро и безболезненно?">
                         </a>
                     </div>
                     <div class="post__content">
                         <h2 class="post__title"><a href="{% url 'post' %}">Домашние задания 1 курс</a></h2>
                         <p class="post__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Elementum volutpat orci turpis urna.
                             Et vestibulum, posuere tortor lacinia sit.
                             Sagittis porttitor orci auctor in at tincidunt arcu egestas.
                             Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa.
                             Egestas ornare vel volutpat.
                         </p>
                     </div>

                     <div class="post__footer">
                         <ul class="post__data">
                             <li class="post__data-item">
                                 <time data="2020-06-21">21.06.2020</time>
                             </li>
                             <li class="post__data-item">
                                 <a href="#!">домашняя работа</a>
                             </li>
                         </ul>
                         <a class="post__read" href="#!">Читать</a>
                     </div>
                 </article><!-- //Post-2 -->

                 <article class="post">
                     <div class="post__header post__header--preview">
                         <a href="{% url 'post' %}">
                             <img class="post__preview" src="{% static 'images/post-2.jpg' %}" alt="Как писать код быстро и безболезненно?">
                         </a>
                     </div>
                     <div class="post__content">
                         <h2 class="post__title"><a href="{% url 'post' %}">Домашние задания 1 курс</a></h2>
                         <p class="post__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Elementum volutpat orci turpis urna.
                             Et vestibulum, posuere tortor lacinia sit.
                             Sagittis porttitor orci auctor in at tincidunt arcu egestas.
                             Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa.
                             Egestas ornare vel volutpat.
                         </p>
                     </div>

                     <div class="post__footer">
                         <ul class="post__data">
                             <li class="post__data-item">
                                 <time data="2020-06-21">21.06.2020</time>
                             </li>
                             <li class="post__data-item">
                                 <a href="#!">домашняя работа</a>
                             </li>
                         </ul>
                         <a class="post__read" href="#!">Читать</a>
                     </div>
                 </article><!-- //Post-3 -->

                 <article class="post">
                     <div class="post__header post__header--preview">
                         <a href="{% url 'post' %}">
                             <img class="post__preview" src="{% static 'images/post-2.jpg' %}" alt="Как писать код быстро и безболезненно?">
                         </a>
                     </div>
                     <div class="post__content">
                         <h2 class="post__title"><a href="{% url 'post' %}">Домашние задания 1 курс</a></h2>
                         <p class="post__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Elementum volutpat orci turpis urna.
                             Et vestibulum, posuere tortor lacinia sit.
                             Sagittis porttitor orci auctor in at tincidunt arcu egestas.
                             Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa.
                             Egestas ornare vel volutpat.
                         </p>
                     </div>

                     <div class="post__footer">
                         <ul class="post__data">
                             <li class="post__data-item">
                                 <time data="2020-06-21">21.06.2020</time>
                             </li>
                             <li class="post__data-item">
                                 <a href="#!">домашняя работа</a>
                             </li>
                         </ul>
                         <a class="post__read" href="#!">Читать</a>
                     </div>
                 </article><!-- //Post-4 -->
            </div>
{% endblock %}